.audio-in-card {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.masthead-header {
  height: 92vh;
  min-height: 450px;
  background-image: url('../images/img-header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead-error {
  height: 92vh;
  min-height: 450px;
  background-image: url('../images/img-error.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead-tracks {
  height: 10vh;
  min-height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.font-error {
  color: white;
}

.font-header {
  color: #CFCFCF;
}

.twitter-button {
  background: url('../images/twitter-signin.jpg')
}