{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1>About</h1>
    <h2>Devlopers</h2>
    <h3>Jaime Escobar (<a href="https://github.com/jjescobaruni" target="_blank">@jjescobaruni</a>)</h3>
    <p>software developer and music lover</p>
    <h2>Tools</h2>
    <ul>
        <li><b>Web framework:</b> <a href="https://flask.palletsprojects.com/en/1.1.x/" target="_blank">Flask</a></li>
        <li><b>Hosting:</b> <a href="https://www.heroku.com/" target="_blank">Heroku</a></li>
        <li><a href="https://developer.spotify.com/documentation/web-api/" target="_blank">Spotify web API</a></li>
        <li><a href="https://developer.twitter.com/" target="_blank">Twitter web API</a></li>
    </ul>
    <h2>Credits</h2>
    <h3>Images</h3>
    <ul>
        {% for image in about['credits']['images'] %}
            <li>Photo by 
                <a href="{{ image['author_url'] }}" target="_blank">{{ image['author_name'] }} </a>
                on <a href="{{ image['source_url'] }}" target="_blank">{{ image['source_name'] }} </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}