{% extends 'layout.html' %}

{% block content %}
<header class="masthead-header">
  <div class="container h-100">
    <div class="row h-50 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light font-header">Stopify</h1>
        <p class="lead font-header">Weekly tweets with the tracks you have listened the most</p>
        {% if 'user_id' in session %}
          <a class="btn btn-success btn-lg" href="{{ url_for('user', user_id=session['user_id']) }}">My tracks</a>
        {% else %}
          <form method="POST" action="{{ url_for('index') }}">
            <button class="btn btn-success btn-lg" value="submit">Try it!</button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
</header>
{% endblock content %}